<html>
<head>
    <title>Contact Added</title>
</head>
<body>
    <h1>You successfully added a contact!</h1>
    <ul>
        <li>{{ newcontact.getName }}</li>
        <li>{{ newcontact.getPhone_Number }}</li>
        <li>{{ newcontact.getAddress }}</li>
    </ul>
    <p><a href='/'>Return to home page to view your list of contacts or add new ones!</a></p>

</body>
</html>