<html>
<head>
       <title>Address Book</title>
</head>
<body>    
    <h1>Address Book</h1>

    <form action='/add_contacts' method='post'>
        <label for='name'>Enter contact's name: </label>
        <input id='name' name='name' type='text'>

        <label for='phone_number'>Enter contact's phone number </label>
        <input id='phone_number' name='phone_number' type='number'>

        <label for='address'>Enter contact's address </label>
        <input id='address' name='address' type='text'>

        <button type='submit'>Add contact</button>
    </form>

    {% if contacts is not empty %}
        <p>Contacts stored in your Address Book:</p>
        <ul>
            {% for contact in contacts %}
                <li> {{ contact.getName }}</li>
                <li> {{ contact.getPhone_Number }}</li>
                <li> {{ contact.getAddress }} </li>
            {%  endfor %}
        </ul>
    {% endif %}

    <form action='/delete_contacts' method='post'>
        <button type='submit'>Delete Contacts</button>
    </form>
</body>
</html>